packages/
RemoteCacheApi/bin/
RemoteCacheApi/obj/
RemoteCacheDownloader/obj/
RemoteCacheDownloader/bin/
RemoteCache.sln.ide/
*.user
RemoteCacheApiService/bin/
RemoteCacheApiService/obj/
.vs/
RemoteCacheService/obj/
RemoteCacheService/bin/
RemoteCacheService/Properties/PublishProfiles/
Backup1/
RemoteCacheApi/node_modules/
artifacts/
nohup.out
*.userprefs
RemoteCacheApi/project.lock.json
RemoteCacheModel/obj/
RemoteCacheModel/bin/
RemoteCache.Web/bin/
RemoteCache.Worker/Cache/
wrap/RemoteCacheModel/project.lock.json
RemoteCache.Worker/project.lock.json
RemoteCache.Worker/bin/
RemoteCache.Web/project.lock.json
