packages/
RemoteCacheApi/bin/
RemoteCacheApi/obj/
RemoteCacheDownloader/obj/
RemoteCacheDownloader/bin/
RemoteCache.sln.ide/
*.user
RemoteCacheApiService/bin/
RemoteCacheApiService/obj/
.vs/
RemoteCacheService/obj/
RemoteCacheService/bin/
RemoteCacheService/Properties/PublishProfiles/
Backup1/
RemoteCacheApi/node_modules/
artifacts/
nohup.out
*.userprefs
RemoteCacheApi/project.lock.json
