packages/
RemoteCacheApi/bin/
RemoteCacheApi/obj/
RemoteCacheDownloader/obj/
RemoteCacheDownloader/bin/
RemoteCache.sln.ide/
*.user
RemoteCacheApiService/bin/
RemoteCacheApiService/obj/
.vs/
RemoteCacheService/obj/
RemoteCacheService/bin/
